nav {
    padding: 1vw 2vw;
    font-weight: 600;
    border: 2px solid rgb(38, 38, 110);
    border-radius: 5px;
}

nav:hover {
    background-color: #2d3648;
    color: white;
}

footer {
    background-color: #1a202c;
    height: 20px;
}

.y {
    color: white;
}

.z {
    height: 2000px;
}