body {
    margin: 0px;
    overflow-x: hidden;
}

section {
    margin-left: 20px;
}

.ntext {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}



.bestellen {
    text-align: center;
    background-color: #2d3648;
    color: white;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.bestellen:hover {
    text-align: center;
    background-color: #2d3648;
    color: white;
    width: 200px;
    padding: 20px;
    align-content: none;
    
}

.naamproductfoto {
    border: solid black 2px;
    margin-bottom: 15px;
    width: 350px;
}

.naamproducttitel {
    font-size: 35px;
}

.naamproduct {
    padding-left: 50px;
    margin-bottom: 20px;
    Border-bottom: solid #dcdde0 2px;
    margin-left: 0px;

}

.svg {
    margin-top: 0px;
    margin-right: 5px;
    position: relative;
    top: 7px;
}

.navbutton:hover {
    background-color: #1a202c;
    color: white;

}

.navbutton:hover>.svg-dark {
    display: none;
}

.navbutton:hover>.svg-light {
    display: inline-block;
}

.svg-dark {
    display: inline-block;
}

.svg-light {
    display: none;
}



.navbutton {
    padding: 10px;
    color: #717d96;
    text-decoration: none;
    width: 100%;


}

.nav {
    background-color: #e2e7f0;
    border: black solid;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;


}


footer {
    background-color: #1a202c;
    height: 200px;
    color: white;
    display: flex;
    margin: 0px;
}


.jouwgoofske {
    display: flex;
}

.y {
    color: white;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.x {}

.xx {}

.xxx {
    display: inline-block;
    padding: 20px;
    color: #a0abc0;



}

.xxxx {
    padding-left: 400px;
    padding-top: 60px;
}




.text1 {
    color: #484f5f;
}

.text12 {
    display: block;
    margin: 30px;
}

.plusmin1 {
    display: flex;
}

.plusmin {
    background-color: #e2e7f0;
    margin-right: 40px;

}

.h3plusmin {
    text-align: center;
}

.delen {
    margin-right: 25px;

    margin-bottom: 20px;
    margin-left: 20px;

}

.relatedp {
    background-color: #e2e7f0;
    margin-top: -70px;
    text-align: center;
    display: flex;

}

.omschrijvingtitel {
    font-size: 35px;
}

.h2title3 {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 70px;
}

.h1relatedsection {
    background-color: #e2e7f0;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;

    font-size: 35px;

}

.lastone {
    background-color: #e2e7f0;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.product1 {
    width: 20px;
}

.image1 {
    width: 360px;
}

.xxlink {
    align-content: none;
    text-align: center;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.xxlink:hover {
    text-align: center;
    color: white;
    text-decoration: none;
}

.progress1 {
    margin-left: 70px;
}
