body {
    margin: 0px;
    overflow-x: hidden;
}

.ntext {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.svg {
    margin-top: 0px;
    margin-right: 5px;
}

.navbutton:hover {
    background-color: #1a202c;
    color: white;

}



.navbutton {
    padding: 10px;
    color: #717d96;
    text-decoration: none;
    width: 100%;


}

.nav {
    background-color: #e2e7f0;
    border: black solid;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;


}


footer {
    background-color: #1a202c;
    height: 200px;
    color: white;
    display: flex;
}

.h2title1 {}

.jouwgoofske {
    display: flex;
}

.y {
    color: white;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.x {}

.xx {}

.xxx {
    display: inline-block;
    padding: 20px;
    color: #a0abc0;



}

.xxxx {
    padding-left: 500px;
    padding-top: 60px;
}




.text1 {
    color: #484f5f;
}

.text12 {
    display: block;
    margin: 30px;
}